.procurement-card{
    border:1px solid #E6E3E3;
    display:grid;
    grid-template-columns: 220px 1fr 300px;
    margin:auto;
    width:60%;
    height:140px;
    justify-content: space-around;
    margin-bottom:20px;
}
.procurement-image{
    width:220px;
    height:140px;
}

.column-2 {
    padding: 0px 20px;
    display:flex;
    flex-direction: column;
    justify-self:start;
    align-self:center;
    text-align: left;
    font-size:22px;
}
.column-3{
    padding-right:20px;
    display:flex;
    flex-direction: column;
    justify-self:end;
    align-self:center;
}

.procurement{
    display: flex;
}

.procurement .order-btn{
    margin-top:5px;
    background: #4AC4BC;
    color:#fff;
    font-size:20px;
    border:none;
    border-radius:20px;
    width:150px;
    height:40px;
    cursor: pointer;

}

.item-req{
    display: flex;
    flex-direction: column;
}

.increment-btn{
    width:80px;
    margin-top:auto;
    margin-right:25px;
    height:40px;
    align-self: end; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #4AC4BC;
    color:#fff;
    font-size:20px;
    border:none;
}

.decrement-btn{
    width:80px;
    margin-top:auto;
    height:40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #4AC4BC;
    color:#fff;
    font-size:20px;
    border:none;
}

.procurement input{
    font-size: 20px;
    margin-top:auto;
    text-align: center;
    width:50%;
    height:34px;
    align-self: end;
}