body {
  font-family: 'Open Sans';
  background-color: #f5f5f5;
}

.main-container {
  max-width: 60%;
  margin: auto;
  background: white;
  position: relative;
  min-height: 100vh;
}

.no-select {
  pointer-events: none;
}

.marketplace-bg {
  /* position: absolute; */
  height: 300px;
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  
  color: white;
  justify-content: center;
  flex-direction: column;
}
.marketplace-bg span {
  font-size: 20px;
}

.marketplace-list {
  display: grid;
  grid-template-columns: 1fr 3fr
}

.marketplace-items {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr
}

.marketplace-categories {
  text-align: left;
}

.marketplace-category {
  padding: 10px 10px 10px 60px
}

.marketplace-category.active {
  background: #5BC4BB;
  color: white;
  font-weight: bold;
}
.padded-area {
  padding: 20px;
}

.text-right {
  text-align: right;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  outline: none;
}

button:focus {
  outline: none;
  cursor: pointer;
}
