/*  */
.error{
    display: grid;
    align-items: center;
    justify-self: center;
    background:#FE1755;
    height: 60px;
    width:100%;
    color:#fff;
}

.success{
    display: grid;
    align-items: center;
    justify-self: center;
    background:#17FE83;
    height: 60px;
    width:100%;
    color:#fff;
}

.info{
    display: grid;
    align-items: center;
    justify-self: center;
    background:#EAF369;
    height: 60px;
    width:100%;
    color:#fff;
}

.toasts--container{
    width:20%;
    float:right;
    position: relative;
    bottom:330px;
}
